<div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <div class="rate-limit-reached" *ngIf="isRateLimitReached">
    API Server return Error
  </div>
</div>
<h2 class="example-spacer" *ngIf="currentUser.role == 'Admin'"> Orders Management </h2>
<h2 class="example-spacer" *ngIf="currentUser.role == 'User'"> My Orders </h2>

<div class="filter-search">
  <mat-form-field *ngIf="currentUser.role == 'Admin'">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)"
  matSortActive="id" matSortDirection="asc" matSortDisableClear>
  <thead class="black white-text"></thead>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Id">Order ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="CreationData">Date</th>
    <td mat-cell *matCellDef="let element"> {{element.creationDate | date: 'dd/MM/yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="LastName">User name</th>
    <td mat-cell *matCellDef="let element"> {{element.userName}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Email">User Email</th>
    <td mat-cell *matCellDef="let element"> {{element.userEmail}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Product Type</th>
    <td mat-cell *matCellDef="let element">
      <div class="example-element-description__cell" *ngFor="let key of getCategories(element.orderItemModel)">{{key}}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="printingEditionTitles">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">
      <div class="example-element-description__cell" *ngFor="let key of getTitles(element.orderItemModel)">{{key}}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Qty</th>
    <td mat-cell *matCellDef="let element">
      <div class="example-element-description__cell" *ngFor="let key of getCounts(element.orderItemModel)">{{key}}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="OrderAmount">Order amount</th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-button [matMenuTriggerFor]="menu">Status</button>
      <mat-menu #menu="matMenu" (close)="getTypesValues()">
        <div *ngFor="let status of statuses; let i = index" (click)="$event.stopPropagation()" mat-menu-item>
          <mat-checkbox class="example-margin" (change)="checkTypeEvent($event,i)" [(ngModel)]="selectedButtonsStatus[i]">
            {{status}}
          </mat-checkbox>
        </div>
      </mat-menu>
    </th>
    <td mat-cell *matCellDef="let element"> {{getTypeName(element.status)}}
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="paginator">
  <mat-paginator #paginator [pageSize]="paginationModel.pageSize" [pageSizeOptions]="paginationModel.pageSizeOptions"
    [showFirstLastButtons]="true" [length]="paginationModel.lenght" [pageIndex]="paginationModel.pageIndex"
    (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</div>