<section fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-dialog-title>Success message</h1>
  <mat-dialog-content>
    <p>{{data.successMessage}}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">OK</button>
  </mat-dialog-actions>
</section>