<div class="catalog">
  <a mat-button routerLink="/printingEdition/catalog">Catalog</a>
</div>

<mat-card class="confirm">
  <mat-card-header>
    <mat-card-title>Confirm your email adress</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      We have sent an email with a confirmation link to your email adress. In order to complete the
      sign-up process, please click the confirmation link.

      If you don't recieve a confirmation email, please check your spam folder. Also, please verify
      that you entered a valid email adress in our sign-up form.
    </p>
  </mat-card-content>
</mat-card>