.catalog button, .catalog a {
  display: block;
  width: 10%;
  top: 100px;
}

.confirm {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 150px;
}