<div class="catalog">
    <a mat-button routerLink="/printingEdition/catalog">Catalog</a>
</div>

<img src="assets/user-solid.svg">

<h1 class="pass">Password assistance</h1>

<mat-card class="text">
    <mat-card-content>
        <p>
            You will recieve an e-mail with a new password to login into your e-mail box
            stated in your Personal Profile.

            Please contact our administrator if you don't receive an e-mail message with
            a new password.
        </p>
    </mat-card-content>
</mat-card>

<div class="button-Continue">
    <a mat-raised-button color="warn" routerLink="/signIn">Continue</a>
</div>