.sign {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
}

.catalog button, .catalog a {
  display: block;
  width: 10%;
  top: 100px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: 50px;
  height: 100px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container>* {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.password-container {
  display: flex;
  flex-direction: column;
}

.password-container>* {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.right-align {
  text-align: right;
}

input.right-align::-webkit-outer-spin-button, input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}

.remember {
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
  flex-direction: row;
  justify-content: center;
}

.button-signIn button, .button-signIn a {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.publishing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 20px;
  text-align: center;
}

.button-SignUp button, .button-SignUp a {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-ForgotPassword button, .button-ForgotPassword a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}