<div class="catalog">
  <a mat-button routerLink="/printingEdition/catalog">Catalog</a>
</div>

<img src="assets/user-solid.svg">

<h1 class="sign">Sign-In</h1>

<form class="ang-form" [formGroup]="inputForm">
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="Email" required formControlName="email">
      <mat-error
        *ngIf="inputForm.controls['email'].hasError('pattern') && !inputForm.controls['email'].hasError('required')">Not a
        valid email</mat-error>
      <mat-error *ngIf="inputForm.controls['email'].hasError('required')">You must enter a value</mat-error>
    </mat-form-field>
  </div>

  <div class="button-ForgotPassword">
    <a mat-button color="warn" routerLink="/passwordRecovery">Forgot your password?</a>
  </div>

  <div class="password-container">
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error
        *ngIf="inputForm.controls['password'].hasError('pattern') && !inputForm.controls['password'].hasError('required')">
        Not a valid password</mat-error>
      <mat-error *ngIf="inputForm.controls['password'].hasError('required')">You must enter a password</mat-error>
    </mat-form-field>
  </div>
</form>

  <div class="remember">
    <mat-checkbox color="primary" [(ngModel)]="rememberMe">Remember me!</mat-checkbox>
  </div>

  <div class="button-signIn">
    <button mat-raised-button color="warn" (click)="signIn()">Sign-In</button>
  </div>

  <h2 class="publishing">New to Book Publishing Company?</h2>

  <div class="button-SignUp">
    <a mat-raised-button color="warn" routerLink="/signUp">Sign-Up</a>
  </div>
