.first-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-title {
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  font-size: 150%;
}

.mat-icon {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  justify-content: flex-start;
  font-size: 150px;
  width: 130px;
  height: 120px;
  line-height: 48px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.product-title {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  font-size: 200%;
}

.product-author-name {
  margin-left: 2%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-item {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.description {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  margin-top: -4%;
}

.form-quantity {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80%;
  margin-top: 5%;
}

.form-quantity-title {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  font-size: 150%;
}

.cart-button :focus-visible {
  background-color: peru;
  margin-top: 3%;
  width: 80%;
}

.mat-icon-cart {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 10px;
}

.button-cart-title {
  margin-left: 2%;
  font-size: 150%;
}

.with-icon {
  display: flex;
  align-items: center;
}