<span class="first-block">
  <div class="page-title">
    <span> Catalog </span>
  </div>
</span>
<div class="container">
  <div class="content-item">
    <mat-icon class="mat-icon">book</mat-icon>
    <div class="product-info">
      <label class="product-title">
        {{selectedPrintingEdition.title}}
      </label>
      <div class="product-author">
        <label class="product-author-name"
          *ngFor="let authorName of selectedPrintingEdition.authorNames; let i = index">
          by {{authorName}} (Author)
        </label>
      </div>
    </div>
    <div class="cart-items">
      <div class="form-quantity">
        <label class="form-quantity-title" style="font-style: italic; font-weight: bolder;"> Product Count </label>
        <mat-form-field class="quntity" style="width: 20%;">
          <input matInput type="number" min="0" [formControl]="quantity" placeholder="Quantity" autocomplete="off"
            value="1">
          <mat-error *ngIf="quantity.hasError('required')">You must enter a value</mat-error>
        </mat-form-field>

        <label class="product-currency">
          <h2>{{currentCurrency}}</h2>
        </label>
        <label class="product-price">
          <h2>Price: {{selectedPrintingEdition.price | number: '1.1-2'}}</h2>
        </label>
        <label class="product-amount">
          <h2>Total Amount: {{(selectedPrintingEdition.price*quantity.value) | number: '1.1-2'}}</h2>
        </label>
      </div>
      <button class="cart-button" mat-raised-button color="warn" (click)="createCartIrtem()"
        [disabled]="isDisabledButton">
        <div class="with-icon">
          <mat-icon class="mat-icon-cart"> local_mall</mat-icon>
          <div class="button-cart-title">Add to Cart
          </div>
        </div>
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <mat-card class="description">
    <mat-card-content>
      <p>
        {{selectedPrintingEdition.description}}
      </p>
    </mat-card-content>
  </mat-card>
</div>