.catalog button, .catalog a {
  display: block;
  width: 10%;
  top: 100px;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  height: 100px;
  margin-top: 100px;
}

.pass {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  margin-top: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 1%;
}

.container>* {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.button-Continue button, .button-Continue a {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}