<div class="catalog">
  <a mat-button routerLink="/printingEdition/catalog">Catalog</a>
</div>

<img src="assets/user-solid.svg">

<h1 class="pass">Password assistance</h1>

<mat-card class="text">
  <mat-card-content>
    <p>
      Enter the email adress associated with your account
    </p>
  </mat-card-content>
</mat-card>

<form class="ang-form" [formGroup]="inputForm">
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="Email" required formControlName="email">
      <mat-error
        *ngIf="inputForm.controls['email'].hasError('pattern') && !inputForm.controls['email'].hasError('required')">Not a
        valid email</mat-error>
      <mat-error *ngIf="inputForm.controls['email'].hasError('required')">You must enter a value</mat-error>
    </mat-form-field>
  </div>

  <div class="button-Continue">
    <button mat-raised-button color="warn" (click)="continue()">Continue</button>
  </div>
</form>