<div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <div class="rate-limit-reached" *ngIf="isRateLimitReached">
    API Server return Error
  </div>
</div>
<h2 class="example"> Users Management </h2>

<div class="filter-search">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)"
  matSortActive="name" matSortDirection="asc" matSortDisableClear>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="LastName">User name</th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Email">User Email</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-button [matMenuTriggerFor]="menu">Status</button>
      <mat-menu #menu="matMenu" (close)="getTypesValues()">
        <div *ngFor="let userStatus of statuses; let i = index" (click)="$event.stopPropagation()" mat-menu-item>
          <mat-checkbox class="example-margin" (change)="checkTypeEvent($event,i)" [(ngModel)]="selectedButtonsStatus[i]">
            {{userStatus}}
          </mat-checkbox>
        </div>
      </mat-menu>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle [(ngModel)]="element.status" (change)="setValue($event, element )"></mat-slide-toggle>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <span class="example-spacer">
        <button class="small-icon-button" mat-icon-button matTooltip="Edit Product" matTooltipPosition=right
          (click)="openDialog('Update',element)">
          <mat-icon>create</mat-icon>
        </button>
        <button class="small-icon-button" mat-icon-button matTooltip="Delete Product" matTooltipPosition=right
          (click)="openDialog('Delete',element)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="paginator">
  <mat-paginator #paginator [pageSize]="paginationModel.pageSize" [pageSizeOptions]="paginationModel.pageSizeOptions"
    [showFirstLastButtons]="true" [length]="paginationModel.lenght" [pageIndex]="paginationModel.pageIndex"
    (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</div>