table {
  margin-top: 2px;
  width: 100%;
}

.mat-form-field {
  margin-top: 2px;
  font-size: 14px;
  width: 80%;
}

.mat-header-cell, .mat-sort-header {
  background-color: palevioletred;
  font-size: medium;
  font-weight: bolder;
  font-style: italic;
}

td.mat-cell {
  padding: 16px 0;
  border-bottom: 1px solid #ffa600;
  border-top: 1px solid #ffa600;
}

td.mat-cell:first-child {
  border-left: 1px solid #ffa600;
}

td.mat-cell:last-child {
  border-right: 1px solid #ffa600;
}

tr.mat-row {
  border: 1px solid #ffa600;
}

tr.mat-form-field {
  border: 1px solid #ffa600;
}

.example-spacer {
  padding-top: 80px;
  margin-right: 5%;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.spacer6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.filter-search {
  margin-top: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.filter-search>* {
  width: 30%;
}

.page-title {
  margin-top: -3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}