<div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      API Server return Error
    </div>
  </div>
<span class="example-spacer">
  <button class="small-icon-button" mat-icon-button matTooltip="Add new Author" matTooltipPosition=right
    (click)="openDialog('Add',{})">
    <mat-icon style="font-size: 40px;">add_circle</mat-icon>
  </button>
</span>

<div class="page-title">
  <h2 style="font-style: italic;"> Authors Management </h2>
</div>

<div class="filter-search">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)"
  matSortActive="id" matSortDirection="asc" matSortDisableClear>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Id">ID</th>
    <td mat-cell *matCellDef="let element"> {{element.authorId}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Name">Name</th>
    <td mat-cell *matCellDef="let element"> {{element.authorName}} </td>
  </ng-container>

  <ng-container matColumnDef="printingEditionTitles">
    <th mat-header-cell *matHeaderCellDef>Product</th>
    <td mat-cell *matCellDef="let element"> {{element.printingEditionTitles}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <span class="spacer6">
        <button class="small-icon-button" mat-icon-button matTooltip="Edit Author" matTooltipPosition=right
          (click)="openDialog('Update',element)">
          <mat-icon>create</mat-icon>
        </button>
        <button class="small-icon-button" mat-icon-button matTooltip="Delete Author" matTooltipPosition=right
          (click)="openDialog('Delete',element)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="paginator">
  <mat-paginator #paginator [pageSize]="paginationModel.pageSize" [pageSizeOptions]="paginationModel.pageSizeOptions"
    [showFirstLastButtons]="true" [length]="paginationModel.lenght" [pageIndex]="paginationModel.pageIndex"
    (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</div>