<section fxLayout="column" fxLayoutAlign="center center">

  <span class="spacer1">
    <h1 mat-dialog-title>{{buttonAction}} Author</h1>
  </span>

  <mat-dialog-content [formGroup]="inputForm" class="spacer3">
    <div class="nameContainer">
      <mat-form-field *ngIf="buttonAction != 'Delete'; else elseTemplate">
        <input matInput placeholder="{{buttonAction}} Name" required formControlName="name"
          [(ngModel)]="dialogResponse.authorName">
        <mat-error
          *ngIf="inputForm.controls['name'].hasError('pattern') && !inputForm.controls['name'].hasError('required')">Not a
          valid Author's Name</mat-error>
        <mat-error *ngIf="inputForm.controls['name'].hasError('required')">You must enter a value</mat-error>
      </mat-form-field>
      <ng-template #elseTemplate>
        <h3>Sure to delete</h3>
        <h3>{{dialogResponse.authorName}}? </h3>
      </ng-template>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="spacer">
    <span>
      <button mat-button (click)="doAction()" mat-flat-button color="primary">{{buttonAction}}</button>
      <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    </span>
  </mat-dialog-actions>


</section>