.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameContainer>* {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spacer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.spacer3 {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
}