.button {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    justify-content: center;
    width: 100%;
}

.button-continue {
    width: 20%;
}

.image-success {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 30%;
    margin-top: 3%;
}

.success-text {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.success-text-order {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.mat-icon-outline {
    display: flex;
    font-size: 600%;
    line-height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}