<section fxLayout="column" fxLayoutAlign="center center">
  <div class="image-success">
    <mat-icon class="mat-icon-outline">done_outline</mat-icon>
  </div>

  <div class="success-text">
    <h1>Thank You for your purchase!</h1>
  </div>
  <div class="success-text-order">
    <h1>Order description is: {{dialogResponse}}</h1>
  </div>

  <mat-dialog-actions>
    <span class="button">
      <button mat-button class="button-continue" (click)="closeDialog()" mat-flat-button color="warn">Continue</button>
    </span>
  </mat-dialog-actions>
</section>