<div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <div class="rate-limit-reached" *ngIf="isRateLimitReached">
    API Server rate limit has been reached
  </div>
</div>
<span class="first-block">
  <div class="page-title">
    <span> Catalog </span>
  </div>
  <div class="filter-search">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>
</span>

<div class="container">
  <div class="filters">
    <div class="filter-categories">
      <label class="filter-categories-title">
        Categories
      </label>
      <label *ngFor="let product of productTypes; let i = index">
        <mat-checkbox (change)="checkTypeEvent($event,i)" [(ngModel)]="selectedButtonTypes[i]">
          {{product}}
        </mat-checkbox>
      </label>
    </div>

    <mat-divider></mat-divider>

    <div class="filter-sort">
      <mat-form-field>
        <mat-label> Currency </mat-label>
        <mat-select [(ngModel)]="selectedCurrency" (ngModelChange)=applyCurrency()>
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label> Sort by </mat-label>
        <mat-select [(ngModel)]="selectedSortParameters" (ngModelChange)=applySortParameters()>
          <mat-option *ngFor="let sortType of sortTypes" [value]="sortType">
            {{sortType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="filter-price">
      <label class="filter-price-title"> Price </label>
      <div>
        <mat-form-field class="filter-minPrice">
          <input matInput type="number" placeholder="Min price" [(ngModel)]="minPrice" autocomplete="off" min="0">
        </mat-form-field>

        <mat-form-field class="filter-maxPrice">
          <input matInput type="number" placeholder="Max price" [(ngModel)]="maxPrice" autocomplete="off" min="0.1">
        </mat-form-field>
        $
        <button mat-raised-button color="warn" (click)="setMinMaxPrice()">Ok</button>
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>

  <mat-grid-list class="listContent" cols="3" rowHeight="400px" gutterSize="10px">
    <mat-grid-tile *ngFor="let product of printingEditions" [colspan]="1" [rowspan]="1">
      <button mat-button class="content-button"
        (click)="getPirntingEdition(product.id, printingEditionFilter.sortCurrency)">
        <div class="content-item">
          <mat-icon class="mat-icon">book</mat-icon>
          <div class="text-items">
            <label class="product-title">
              <h1>{{product.title}}</h1>
            </label>
            <div class="product-author">
              <label class="product-author-name" *ngFor="let author of product.authorNames; let i = index">
                {{author}}
                <span *ngIf="i < product.authorNames.length -1">,</span>
              </label>
            </div>
            <label class="product-price">
              {{currencies[product.currency-1]}} {{product.price | number: '1.1-2'}}
            </label>
          </div>
        </div>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="paginator">
  <mat-paginator #paginator [pageSize]="paginationModel.pageSize" [pageSizeOptions]="paginationModel.pageSizeOptions"
    [showFirstLastButtons]="true" [length]="paginationModel.lenght" [pageIndex]="paginationModel.pageIndex"
    (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</div>