.filters {
    width: 20%;
    height: 100%;
}

.filter-search {
    margin-top: 3.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.filter-search>* {
    width: 70%;
}

.first-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-title {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    font-size: 150%;
}

.filter-categories-title {
    font-size: 200%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5%;
}

.filter-categories {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.filter-sort {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    height: 20%;
    margin-top: 2%;
}

.filter-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 20%;
    margin-top: 5%;
}

.filter-price-title {
    font-size: 150%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5%;
}

.listContent {
    width: 100%;
    align-items: initial;
    justify-content: initial;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.paginator {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2%;
}

.content-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: initial;
}

.content-item {
    width: 100%;
    height: 100%;
}

.mat-icon {
    margin-top: 0.2%;
    font-size: 200px;
    width: 100%;
    height: 60%;
}

.product-title {
    margin-top: 1%;
    font-style: italic;
    color: orangered;
}

.product-author {
    margin-top: 1%;
}

.product-price {
    margin-top: 1%;
    font-style: oblique;
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}