.image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1%;
  margin-left: 2%;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: right;
  width: 100%;
  margin-bottom: 0;
  position: relative;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: right;
}