<div class="footer">
<mat-toolbar color='warn' style="min-height: 30px !important; height: 30px !important;" role="footering">
  <span class="spacer"></span>
  <h3>© Copyright Anuitex Apps 2019.</h3>
  <img class ='image' src="assets/anchor-solid.svg" alt="Icon" width="30" height="30">
</mat-toolbar>
</div>