<section fxLayout="column" fxLayoutAlign="center center">

  <span class="spacer1">
    <h1 mat-dialog-title>{{buttonAction}} Product</h1>
    <mat-icon class="mat-icon">add_photo_alternate</mat-icon>
  </span>

  <span class="spacer4">
    <span class="spacer2">
      <div class="container1">
        <mat-form-field appearance="outline" *ngIf="buttonAction != 'Delete'; else elseTemplate">
          <mat-label>Title</mat-label>
          <textarea matInput #input maxlength="100" placeholder="{{buttonAction}} Title" [(ngModel)]="dialogResponse.title"
            required></textarea>
          <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
        </mat-form-field>
        <ng-template #elseTemplate>
          You are sure to delete <b>{{dialogResponse.title}}</b>?
        </ng-template>
      </div>

      <div class="container2">
        <mat-form-field appearance="outline" [hidden]="buttonAction === 'Delete'">
          <mat-label>Description</mat-label>
          <textarea matInput #input maxlength="1000" placeholder="{{buttonAction}} Description"
            [(ngModel)]="dialogResponse.description"></textarea>
          <mat-hint align="end">{{input.value?.length || 0}}/1000</mat-hint>
        </mat-form-field>
      </div>
    </span>

    <span class="spacer3">
      <mat-form-field [hidden]="buttonAction === 'Delete'">
        <mat-select placeholder="{{buttonAction}} Category" [(ngModel)]="selectedCategory">
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [hidden]="buttonAction == 'Delete'">
        <mat-label>{{buttonAction}} Authors</mat-label>
        <mat-select [(ngModel)]="dialogResponse.authorNames" multiple>
          <mat-option *ngFor="let author of authors" [value]="author.authorName">{{author.authorName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [hidden]="buttonAction == 'Delete'">
        <input matInput placeholder="{{buttonAction}} Price" type="number" class="example-right-align"
          [(ngModel)]="dialogResponse.price" required autocomplete="off">
        <span matPrefix>&nbsp;</span>
      </mat-form-field>

      <mat-form-field [hidden]="buttonAction == 'Delete'">
        <mat-select placeholder="{{buttonAction}} Currency" [(ngModel)]="selectedCurrency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </span>

  <mat-dialog-actions>
    <span class="spacer">
      <button mat-button (click)="doAction()" mat-flat-button color="primary">{{buttonAction}}</button>
      <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    </span>
  </mat-dialog-actions>
</section>