.spacer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spacer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spacer3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spacer4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.container1>* {
  width: 50%;
}

.mat-icon {
  font-size: 80px;
  width: 20%;
}

.container2 {
  display: flex;
  flex-direction: column;
}

.container2>* {
  width: 50%;
}

input.example-right-align::-webkit-outer-spin-button, input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.spacer3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-form-field[hidden] {
  display: none;
}

.spacer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}