<section fxLayout="column" fxLayoutAlign="center center">


  <h1 mat-dialog-title>{{buttonAction}} Profile </h1>
  <img src="assets/user-edit-solid.svg">

  <form class="ang-form" [formGroup]="inputForm">
    <div class="firstNameContainer">
      <mat-form-field *ngIf="buttonAction != 'Delete'; else elseTemplate">
        <input matInput placeholder="FirstName" required formControlName="firstname" [(ngModel)]='dialogResponse.firstName'>
        <mat-error
          *ngIf="inputForm.controls['firstname'].hasError('pattern') && !inputForm.controls['firstname'].hasError('required')">
          Not a valid First name</mat-error>
        <mat-error *ngIf="inputForm.controls['firstname'].hasError('required')">You must enter a value</mat-error>
      </mat-form-field>
      <ng-template #elseTemplate>
        <h2>You are sure to delete</h2>
        <h2> {{dialogResponse.firstName}} {{dialogResponse.lastName}} ?</h2>
      </ng-template>
    </div>

    <div class="lastNameContainer">
      <mat-form-field [hidden]="buttonAction == 'Delete'">
        <input matInput placeholder="LastName" required formControlName="lastname" [(ngModel)]='dialogResponse.lastName'>
        <mat-error
          *ngIf="inputForm.controls['lastname'].hasError('pattern') && !inputForm.controls['lastname'].hasError('required')">
          Not a valid Last name</mat-error>
        <mat-error *ngIf="inputForm.controls['lastname'].hasError('required')">You must enter a value</mat-error>
      </mat-form-field>
    </div>

    <div class="emailContainer">
      <mat-form-field [hidden]="buttonAction == 'Delete'">
        <input matInput placeholder="Email" required formControlName="email" [(ngModel)]='dialogResponse.email'>
        <mat-error
          *ngIf="inputForm.controls['email'].hasError('pattern') && !inputForm.controls['email'].hasError('required')">Not
          a
          valid email</mat-error>
        <mat-error *ngIf="inputForm.controls['email'].hasError('required')">You must enter e-mail</mat-error>
      </mat-form-field>
    </div>
  </form>


  <mat-dialog-actions class="spacer">
    <span>
      <button mat-button (click)="doAction()" mat-flat-button color="primary">{{buttonAction}}</button>
      <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    </span>
  </mat-dialog-actions>
</section>