.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 100px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100px;
}

.firstNameContainer {
    display: flex;
    flex-direction: column;
}

.firstNameContainer>* {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.lastNameContainer {
    display: flex;
    flex-direction: column;
}

.lastNameContainer>* {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.emailContainer {
    display: flex;
    flex-direction: column;
}

.emailContainer>* {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

mat-form-field[hidden] {
    display: none;
}

.spacer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}