.lable {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  font-style: italic;
  font-size: 30px;
}

.header {
  display: flex;
  position: fixed;
  opacity: 1 !important;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index: 1001;
}

.site-header {
  display: flex;
  position: fixed;
  opacity: 100;
}

.header-home-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
}

.home-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: auto;
  width: 20%;
}

.button-logged {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: auto;
  margin-bottom: auto;
  width: 40px !important;
  height: 40px !important;
  line-height: 10px !important;
}

.mat-icon-1 {
  font-size: 40px;
  width: 40px;
  height: 30px;
  line-height: 10px;
  margin-left: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: auto;
  margin-bottom: auto;
  width: 40px !important;
  height: 40px !important;
  line-height: 10px !important;
}

.mat-icon-cart {
  font-size: 40px;
  width: 30px;
  height: 30px;
  line-height: 10px;
  margin-left: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

.mat-icon-person {
  font-size: 40px;
  width: 30px;
  height: 30px;
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
}

.header-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}