<header class="site-header">
  <mat-toolbar class="header" color="warn" role="heading">

    <div class="header-home-button" (click)="redirect()">
      <img class="image" src="assets/book-open-solid.svg" width="45" height="45">
      <span class="lable" style="color:black;">Book Publishing Company</span>
    </div>

    <div class="header-button">
      <a href="http://localhost:4200/signIn" mat-button class="button-signIn" *ngIf="!currentUser">Log in</a>
      <mat-card-header>
        <mat-card-title *ngIf="currentUser" style="color: black; font-style: italic;">{{currentUser.firstName}} <br>
          {{currentUser.lastName}}
        </mat-card-title>
      </mat-card-header>
      <button class="button-logged" mat-icon-button [matMenuTriggerFor]="menu" *ngIf="currentUser">
        <ngx-avatar class="mat-icon-1" src="{{currentUser.image}}" class="ngx-avatar" size="45"></ngx-avatar>
        <ngx-avatar name="{{currentUser.firstName}} {{currentUser.lastName}}" *ngIf="!currentUser.image" size="45" >
        </ngx-avatar>
        <mat-menu #menu="matMenu">
          <a href="http://localhost:4200/orders" mat-menu-item *ngIf="currentUser.role == 'Admin'">
            <mat-icon>reorder</mat-icon>
            <span>Order Management</span>
          </a>
          <a href="http://localhost:4200/users" mat-menu-item *ngIf="currentUser.role == 'Admin'">
            <mat-icon>reorder</mat-icon>
            <span>Users Management</span>
          </a>
          <a href="http://localhost:4200/printingEditions" mat-menu-item *ngIf="currentUser.role == 'Admin'">
            <mat-icon>reorder</mat-icon>
            <span>Product Management</span>
          </a>
          <a href="http://localhost:4200/authors" button mat-menu-item *ngIf="currentUser.role == 'Admin'">
            <mat-icon>reorder</mat-icon>
            <span>Authors Management</span>
          </a>
          <a href="http://localhost:4200/updateProfile" mat-menu-item>
            <mat-icon>perm_identity</mat-icon>
            <span>My Profile</span>
          </a>
          <a href="http://localhost:4200/orders" mat-menu-item *ngIf="currentUser.role == 'User'">
            <mat-icon>reorder</mat-icon>
            <span>My Orders</span>
          </a>
          <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log Out</span>
          </button>
        </mat-menu>
      </button>
      <button class="cart" mat-icon-button (click)="openDialog()" matBadge="{{getCartCount()}}" matBadgePosition="after"
        matBadgeColor="primary" *ngIf="currentUser && currentUser.role == 'User'">
        <mat-icon class="mat-icon-cart">shopping_cart</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>