<section fxLayout="column" fxLayoutAlign="center center">

  <div class="title">
    <h2> Checkout </h2>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="printingEditionTitles">
      <th mat-header-cell *matHeaderCellDef style="font-size: medium; font-weight: bolder; font-style: italic;"> Product </th>
      <td mat-cell *matCellDef="let element"> {{element.printingEditionTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef style="font-size: medium; font-weight: bolder; font-style: italic;"> Unit Price </th>
      <td mat-cell *matCellDef="let element" style="font-size: medium; font-weight: bolder;"> {{element.price}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef style="font-size: medium; font-weight: bolder; font-style: italic;"> Qty </th>
      <div class="input-quantity">
        <mat-form-field class="quntity" *matCellDef="let element" style="width: 30%;">
          <input matInput type="number" min="0" [(ngModel)]="element.quantity" (ngModelChange)=getTotalAmount()>
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef style="font-size: medium; font-weight: bolder; font-style: italic;"> Order Amount </th>
      <td mat-cell *matCellDef="let element" style="font-size: medium; font-weight: bolder;"> {{element.price * element.quantity | number: '1.1-2'}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <span>
          <button class="small-icon-button" mat-icon-button matTooltip="Delete Product" matTooltipPosition=right
            (click)="deleteProduct(element)">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="title-totalPrice">
    <h3>TOTAL PRICE : USD {{getTotalAmount() | number: '1.1-2'}}</h3>
  </div>
  <mat-dialog-actions>
    <span class="buttons">
      <button mat-button class="button-cancel" (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
      <button mat-button class="button-buy" (click)="buy()" mat-flat-button color="primary">Buy Now</button>
    </span>
  </mat-dialog-actions>
</section>