.buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    justify-content: space-between;
    width: 100%;
}

.button-cancel {
    width: 100%;
}

.button-buy {
    width: 100%;
}

table {
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: center;
    width: 100%;
}

.input-quantity {
    width: 10%;
    margin-bottom: 0%;
}

.title-totalPrice {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: center;
    margin-right: 20%;
    width: 100%;
}