<div class="catalog">
  <a mat-button routerLink="/printingEdition/catalog" *ngIf="currentUser.role != 'Admin'">Catalog</a>
</div>

<h1 class="title">My Profile</h1>

<button class="small-icon-button" mat-icon-button matTooltip="Edit Profile" matTooltipPosition=right
  (click)="editProfile()" *ngIf="buttonAction !=='Update'">
  <mat-icon>create</mat-icon>
</button>

<form class="ang-form" [formGroup]="inputForm">
  <ngx-avatar class="mat-icon-2" src="{{currentUser.image}}" size="150" *ngIf="buttonAction !=='Update'">
  </ngx-avatar>
  <ngx-avatar class="mat-icon-1" name="{{currentUser.firstName}} {{currentUser.lastName}}"
    *ngIf="!currentUser.image && buttonAction !=='Update'" size="100"></ngx-avatar>
  <button class="small-icon-button-image" mat-icon-button matTooltip="Add Image" matTooltipPosition=right
    (click)="selectFile.click()" *ngIf="buttonAction ==='Update'">
    <input type="file" accept="image/*" (change)="showPreview($event)" style="display: none" #selectFile />
    <ngx-avatar class="mat-icon-1" name="{{currentUser.firstName}} {{currentUser.lastName}}"
      *ngIf="!currentUser.image && !inputForm.controls.image.value" size="150"></ngx-avatar>
    <ngx-avatar src="{{currentUser.image}}" class="mat-icon-1" size="150"
      *ngIf="currentUser.image && !inputForm.controls.image.value"></ngx-avatar>
    <ngx-avatar src="{{inputForm.controls.image.value}}" class="mat-icon-1" size="150"></ngx-avatar>
  </button>
  <div class="firstNameContainer">
    <mat-form-field>
      <input matInput placeholder="FirstName" required formControlName="firstname" [(ngModel)]='currentUser.firstName'>
      <mat-error
        *ngIf="inputForm.controls['firstname'].hasError('pattern') && !inputForm.controls['firstname'].hasError('required')">
        First name incorrect</mat-error>
      <mat-error *ngIf="inputForm.controls['firstname'].hasError('required')">Field can't be empty</mat-error>
    </mat-form-field>
  </div>

  <div class="lastNameContainer">
    <mat-form-field>
      <input matInput placeholder="LastName" required formControlName="lastname" [(ngModel)]='currentUser.lastName'>
      <mat-error
        *ngIf="inputForm.controls['lastname'].hasError('pattern') && !inputForm.controls['lastname'].hasError('required')">
        Last name incorrect</mat-error>
      <mat-error *ngIf="inputForm.controls['lastname'].hasError('required')">Field can't be empty</mat-error>
    </mat-form-field>
  </div>

  <div class="emailContainer">
    <mat-form-field>
      <input matInput placeholder="Email" required formControlName="email" [(ngModel)]='currentUser.email'>
      <mat-error
        *ngIf="inputForm.controls['email'].hasError('pattern') && !inputForm.controls['email'].hasError('required')">
        Not a valid email</mat-error>
      <mat-error *ngIf="inputForm.controls['email'].hasError('required')">Field can't be empty</mat-error>
    </mat-form-field>
  </div>

  <div class="oldPasswordContainer">
    <mat-form-field *ngIf="buttonAction =='Update'">
      <input matInput placeholder="Old Password" formControlName="oldpassword"
        [type]="hidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="inputForm.controls['oldpassword'].hasError('pattern')">Password incorrect</mat-error>
    </mat-form-field>
  </div>

  <div class="newPasswordContainer">
    <mat-form-field *ngIf="buttonAction =='Update'">
      <input matInput placeholder="New Password" formControlName="newpassword"
        [type]="hidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error
        *ngIf="inputForm.controls['newpassword'].hasError('pattern') && !inputForm.controls['newpassword'].hasError('required')">
        Password incorrect</mat-error>
      <mat-error *ngIf="inputForm.controls['newpassword'].hasError('required')">Field can't be empty</mat-error>
    </mat-form-field>
  </div>

  <div class="confirmPasswordContainer">
    <mat-form-field *ngIf="buttonAction =='Update'">
      <input matInput placeholder="ConfirmPassword" formControlName="confirmPassword"
        [type]="hidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="inputForm.controls['confirmPassword'].hasError('mustMatch')">Passwords must match</mat-error>
    </mat-form-field>
  </div>
</form>

<div class="buttons">
  <div class="button-save" [hidden]="buttonAction !=='Update'">
    <button mat-raised-button color="primary" (click)="updateProfile()">Save</button>
  </div>
  <div class="button-cancel" [hidden]="buttonAction !=='Update'">
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
  </div>
</div>