.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0%;
}

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 10%;
  margin-top: 8%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 100px;
}

.firstNameContainer {
  display: flex;
  flex-direction: column;
}

.firstNameContainer>* {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.lastNameContainer {
  display: flex;
  flex-direction: column;
}

.lastNameContainer>* {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.emailContainer {
  display: flex;
  flex-direction: column;
}

.emailContainer>* {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.oldPasswordContainer {
  display: flex;
  flex-direction: column;
}

.oldPasswordContainer>* {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.newPasswordContainer {
  display: flex;
  flex-direction: column;
}

.newPasswordContainer>* {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.confirmPasswordContainer {
  display: flex;
  flex-direction: column;
}

.confirmPasswordContainer>* {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.small-icon-button {
  display: flex;
  flex-direction: column;
  margin-left: 70%;
  width: 80px !important;
  height: 80px !important;
  line-height: 50px !important;
  margin-top: 1%;
}

.buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  margin-top: 1%;
  justify-content: space-around;
  width: 80%;
}

.mat-icon-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  justify-content: center;
}

.mat-icon-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 5%;
}

.small-icon-button-image {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 200px !important;
  height: 200px !important;
  line-height: 5px !important;
}

.add-image {
  font-size: 120px;
  margin-left: auto;
  margin-right: auto;
  line-height: 10px;
  margin-top: 250%;
  margin-bottom: auto;
}