<div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <div class="rate-limit-reached" *ngIf="isRateLimitReached">
    API Server return Error
  </div>
</div>
<div class="button-add">
  <span class="example-spacer">
    <button class="icon-button-add" mat-icon-button matTooltip="Add new Product" matTooltipPosition=right
      (click)="openDialog('Add',{})">
      <mat-icon style="font-size: 40px;">add_circle</mat-icon>
    </button>
  </span>
</div>

<div class="page-title">
  <h2 style="font-style: italic;"> Product Management </h2>
</div>

<div class="filter-search">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)"
  matSortActive="id" matSortDirection="asc" matSortDisableClear>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Id">ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Title">Name</th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>
      Description</th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-button [matMenuTriggerFor]="menu">Category</button>
      <mat-menu #menu="matMenu" (close)="getTypesValues()">
        <div *ngFor="let product of productTypes; let i = index" (click)="$event.stopPropagation()" mat-menu-item>
          <mat-checkbox class="example-margin" (change)="checkTypeEvent($event,i)"
            [(ngModel)]="selectedButtonsOfType[i]">
            {{product}}
          </mat-checkbox>
        </div>
      </mat-menu>
    </th>
    <td mat-cell *matCellDef="let element"> {{getTypeName(element.category)}}
  </ng-container>

  <ng-container matColumnDef="authorNames">
    <th mat-header-cell *matHeaderCellDef>Author
    </th>
    <td mat-cell *matCellDef="let element"> {{element.authorNames}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Price">Price</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <span>
        <button class="small-icon-button-update" mat-icon-button matTooltip="Edit Product" matTooltipPosition=left
          (click)="openDialog('Update',element)">
          <mat-icon>create</mat-icon>
        </button>
        <button class="small-icon-button-delete" mat-icon-button matTooltip="Delete Product" matTooltipPosition=right
          (click)="openDialog('Delete',element)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="paginator">
  <mat-paginator #paginator [pageSize]="paginationModel.pageSize" [pageSizeOptions]="paginationModel.pageSizeOptions"
    [showFirstLastButtons]="true" [length]="paginationModel.lenght" [pageIndex]="paginationModel.pageIndex"
    (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</div>