<div class="catalog">
  <a mat-button routerLink="/printingEdition/catalog">Catalog</a>
</div>

<form class="ang-form" [formGroup]="inputForm">
  <button class="small-icon-button" mat-icon-button matTooltip="Add Image" matTooltipPosition=right
    (click)="selectFile.click()">
    <input type="file" accept="image/*" (change)="showPreview($event)" style="display: none" #selectFile />
    <mat-icon class="add-image" *ngIf="!inputForm.controls.image.value">add_a_photo</mat-icon>
    <ngx-avatar src="{{inputForm.controls.image.value}}" class="ngx-avatar" size="200"></ngx-avatar>
  </button>

  <h1 class="create">Create Account</h1>

  <div class="firstNameContainer">
    <mat-form-field>
      <input matInput placeholder="FirstName" required formControlName="firstname">
      <mat-error
        *ngIf="inputForm.controls['firstname'].hasError('pattern') && !inputForm.controls['firstname'].hasError('required')">
        Not a valid First name</mat-error>
      <mat-error *ngIf="inputForm.controls['firstname'].hasError('required')">You must enter a value</mat-error>
    </mat-form-field>
  </div>

  <div class="lastNameContainer">
    <mat-form-field>
      <input matInput placeholder="LastName" required formControlName="lastname">
      <mat-error
        *ngIf="inputForm.controls['lastname'].hasError('pattern') && !inputForm.controls['lastname'].hasError('required')">
        Not a valid Last name</mat-error>
      <mat-error *ngIf="inputForm.controls['lastname'].hasError('required')">You must enter a value</mat-error>
    </mat-form-field>
  </div>

  <div class="emailContainer">
    <mat-form-field>
      <input matInput placeholder="Email" required formControlName="email">
      <mat-error
        *ngIf="inputForm.controls['email'].hasError('pattern') && !inputForm.controls['email'].hasError('required')">
        Not a
        valid email</mat-error>
      <mat-error *ngIf="inputForm.controls['email'].hasError('required')">You must enter a value</mat-error>
    </mat-form-field>
  </div>

  <div class="passwordContainer">
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error
        *ngIf="inputForm.controls['password'].hasError('pattern') && !inputForm.controls['password'].hasError('required')">
        Not a valid password</mat-error>
      <mat-error *ngIf="inputForm.controls['password'].hasError('required')">You must enter a password</mat-error>
    </mat-form-field>
  </div>

  <div class="confirmPasswordContainer">
    <mat-form-field>
      <input matInput placeholder="ConfirmPassword" formControlName="confirmPassword"
        [type]="hidePassword ? 'password' : 'text'">
      <mat-error *ngIf="inputForm.controls['confirmPassword'].hasError('required')">You must enter a value</mat-error>
      <mat-error *ngIf="inputForm.controls['confirmPassword'].hasError('mustMatch')">Passwords must match</mat-error>
    </mat-form-field>
  </div>

</form>

<div class="button-SignUp">
  <button mat-raised-button color="warn" (click)="signUp()">Sign-Up your account</button>
</div>

<h2 class="acc">Already have an account?</h2>
<div class="button-SignIn">
  <a mat-button color="primary" routerLink="/signIn">Sign-In</a>
</div>