img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  margin-top: 5%;
  height: 10%;
}

.create {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.catalog button, .catalog a {
  display: block;
  width: 10%;
  top: 100px;
}

.firstNameContainer {
  display: flex;
  flex-direction: column;
}

.firstNameContainer>* {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.lastNameContainer {
  display: flex;
  flex-direction: column;
}

.lastNameContainer>* {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.emailContainer {
  display: flex;
  flex-direction: column;
}

.emailContainer>* {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
}

.passwordContainer>* {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.confirmPasswordContainer {
  display: flex;
  flex-direction: column;
}

.confirmPasswordContainer>* {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.button-SignUp button, .button-SignUp a {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-SignIn button, .button-SignIn a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.acc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 20px;
  text-align: center;
}

.small-icon-button {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 200px !important;
  height: 200px !important;
  line-height: 5px !important;
}

.add-image {
  font-size: 120px;
  margin-left: auto;
  margin-right: auto;
  line-height: 10px;
  margin-top: 250%;
  margin-bottom: auto;
}
