<div class="catalog">
    <a mat-button routerLink="/printingEdition/catalog">Catalog</a>
</div>

<img src="assets/check-double-solid.svg">

<mat-card class="text">
    <mat-card-content>
        <p>
            Dear new {{currentUser.firstName}} {{currentUser.lastName}}, Thank you for your registration
        </p>
    </mat-card-content>
</mat-card>

<div class="button-Continue">
    <a mat-raised-button color="primary" routerLink="/catalog">Continue</a>
</div>